<html>
<style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<header>
    <title>
        Vitality Planner/Adviser
    </title>
</header>

<body style="background: url(http://images.huffingtonpost.com/2016-06-23-1466709798-3861111-FITNESSWOMAN.jpg); background-size: cover; background-repeat: no-repeat;">
    <h1 style="font-size:400%; text-align: center;">
        Vitality Planner/Adviser
        <button class="button" onClick="window.location.reload();">Next Advice/Plan</button>
    </h1>
    <p style="font-size:180%; text-align: center;">
        On {{ day }} by {{ indoor }} you would gain {{ improvement }} vitality points.
        <br>
        {{ message }}
    </p>
    <h2 style="font-size:300%; text-align: center;">
        Five advice for your next week
    </h2>
    <p style="font-size:180%; text-align: center;">
        {% for day in days_imp %}
        On {{ day.day }} by {{ day.indoor }} you would gain {{ day.improvement }} vitality points. 
        <br>
        {{ day.message }}
        <br>
        {% endfor %}
    </p>
</body>
</html>