<html>
    <header>
        <title>
            Vitality improvements
        </title>
    </header>
    <body>
        <h1>
            Vitality Improvements
        </h1>
        <p> 
            On {{ day }} you will gain {{ improvement }} 
        </p>
        <h2>
            The last five days and improvements
        </h2>
        <p>
            {% for day in days_imp %}
            On {{ day.day }} you will gain {{ day.improvement }}
            <br>
            {% endfor %}
        </p>
    </body>
</html>