<html>
    <header>
        <title>
            Vitality improvements
        </title>
    </header>
    <body>
        <h1>
            Vitality Improvements
        </h1>
        <p> 
            On {{ day }} by {{ indoor }} you will gain {{ improvement }} vitality points
        </p>
        <h2>
            The last five days and improvements
        </h2>
        <p>
            {% for day in days_imp %}
            On {{ day.day }} by {{ day.indoor }} you will gain {{ day.improvement }} vitality points
            <br>
            {% endfor %}
        </p>
    </body>
</html>